<html>
    <head>
       
        </head>
        <body>
          
           
                    <h1 id="heading"><center>Employee Home</center></h1><br><br>
                    <center>
                    <table>
                      
                      <tr>
                        <td style="color: rgb(18, 15, 228);">Name:- </td>
                        <td style="color: green;">{{ userdetails.full_name }}</td>
                      </tr>
                      <tr >
                        <td style="color: rgb(18, 15, 228);">Place:- </td>
                        <td style="color: green;">{{ userdetails.place }}</td>
                      </tr>
                      <tr >
                        <td style="color: rgb(18, 15, 228);">Email:- </td>
                        <td style="color: green;">{{ userdetails.place }}</td>
                      </tr>

                      <tr >
                        <td style="color: rgb(18, 15, 228);">Address:- </td>
                        <td style="color: green;">{{ userdetails.address }}</td>
                      </tr>
                     
                     
                    </table>
                  </center>
                </div>
            </div>
           
           
        </body>
 
</html>
<script>
  document.getElementById("heading").style.color="red"
</script>

