{% load static %}
<html>
    <head>
        <!-- <style>
            body{
                color: aquamarine;
                background-color: rgb(236, 66, 43);
            }
        </style> -->
        <link rel="stylesheet" href="{% static  'css/style.css' }">
    </head>
        <body >
            <center "> <h1 > LOGIN PAGE</h1>      
            <br><br>
            <form>
            Name:
            <input type="text" name="name">
            <br>
            Password:
            <input type="password" name="pass">
            <br><br>
            <input type="submit" name="submit"> <br>
            </form>
            </center>
        </body>
  
</html>