<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><center>Admin Home</center></h1>
    <center>
    <table border="1">
        <tr>
            
            <td>Name</td>
            <td>Place</td>
            <td>Email</td>
            <td>Address</td>
            <td> Update/Delete</td>
        </tr>
        {% for i in userdata %}
        <tr>
           
           <td>{{i.full_name}}</td>
           <td>{{i.place}}</td>
           <td>{{i.email}}</td>
           <td>{{i.address}}</td>
           
           <td> <a href="/updateuser/{{i.id}}">Update</a>
            <a href="/deleteuser/{{i.id}}">Delete</a>
        </td>
        </tr>
           
        {% endfor %}
    </table>
</center>
</body>
</html>